body {
    padding-top: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.container {
    max-width: 100%;
    padding: 15px;
}

.jumbotron {
    padding: 2rem 1rem;
}

.navbar-nav .nav-item .nav-link {
    cursor: pointer;
}
